/*
COLORS
*/
// dark mode
// $bg : rgb(88, 88, 110);
$description : white;
$link : rgb(255, 139, 230);
$main-bar : rgb(241, 239, 255);
$screen-window : rgb(26, 26, 26);
$nav : rgb(5, 5, 5);
// $desk : rgb(33, 33, 47);
// $desk-shadow : rgb(37, 37, 51);
// $handle : rgb(0, 0, 0);

// light mode
$bg : #D2D2E0;
// $description : black;
// $link : rgb(255, 139, 230);
// $main-bar : rgb(255, 255, 255);
// $screen-window : white;
// $nav : #e5e5e5;
$desk : white;
$desk-shadow : #F5F5F5;
$handle : black;

$timebar : rgb(255, 0, 179);


// BODY
body {
    background: $bg;
    margin: 0;
    overflow: hidden;
}

// ROOM 
.room {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    &_scale{
        position: absolute;
        width: 100%;
        height: 100%;
        // background: red;
        z-index: 2;
    }
}

//Animations
.scale {
    animation-name: scale;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

// Hidden

.hidden {
    display: none !important;
}

// DECORATIONS ON DESK + WALL

.deco {
    // background: blue;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;

    // WINDOW + PLANT
    &_part1 {
        position: relative;
        // background: pink;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;

        &_window {
            
            width: 350px;
            height: 500px;
            background-image: url('../images/paris.svg');
            background-size: cover;
            border: solid 6px black;
            cursor: pointer;
            z-index : 3;
        }

        &_plant {
            position: absolute;
            bottom: 0;
            left: 110px;
            z-index : 3;

            & img {
                width: 180px;
            }
        }
    }

    &_part2 {
        // background: blue;
        width: 40%;
        // width: 100%;
        height: 100%;

        &_top {
            width: 100%;
            height: 40%;
            // background: green;
            display: flex;
            justify-content: center;
            align-items: center;

            //CLOCK
            &_clock {
                position: relative;
                width: 140px;
                height: 140px;
                border-radius: 90%;
                background: white;
                border: solid 6px black;

                &_hours,
                &_minutes,
                &_seconds {
                    position: absolute;
                    background: black;
                    top: 50%;
                    left: 50%;
                    will-change: transform;
                    transition: transform 0.5s cubic-bezier(0.75, 1, 0.45, 2.35);
                }

                &_middle {
                    position: absolute;
                    top: calc(50% - 3px);
                    left: calc(50% - 3px);
                    width: 6px;
                    height: 6px;
                    background: black;
                    z-index: 1;
                    border-radius: 50%;
                }

                &_hours {
                    &_needle {
                        position: absolute;
                        width: 3px;
                        height: 35px;
                        background: rgb(0, 0, 0);
                        bottom: -2px;
                        left: -2px;
                    }
                }

                &_minutes {
                    &_needle {
                        position: absolute;
                        width: 2px;
                        height: 50px;
                        background: rgb(153, 150, 155);
                        bottom: -1px;
                        left: -1px;
                    }
                }

                &_seconds {
                    &_needle {
                        position: absolute;
                        width: 1px;
                        height: 60px;
                        background: rgb(255, 163, 250);
                        bottom: -1px;
                        left: -1px;
                    }
                }
            }
        }

        &_bot {
            --width_computer: 450px;
            --height_computer: 350px;
            // --width_computer: 850px;
            // --height_computer: 650px;
            width: 100%;
            height: 60%;
            // background: pink;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &_computer {
                width: var(--width_computer);
                height: var(--height_computer);
                display: flex;
                flex-direction: column;
                align-items: center;
                // background: white;

                &_screen {
                    position: relative;
                    background: black;
                    width: 100%;
                    height: 78%;
                    border-radius: 10px 10px 0px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;

                    //VIDEO PLAYER 
                    &_inside {
                        position: absolute;
                        width: 97%;
                        height: 95%;
                        background: rgb(26, 26, 26);
                        will-change: background-image;
                        z-index: 3;

                        &_digital-clock {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            width: 140px;
                            // background: red;
                            height: 45px;
                            bottom: 14px;
                            right: 14px;

                            & h3 {
                                font-family: 'Lato', sans-serif;
                                color: white;
                                font-size: 30px;
                                letter-spacing: 6px;
                            }
                        }

                        // PLAYER VIDEO UNLOCKED SCREEN
                    }

                    &_inside:hover {
                        animation-name: wallpaper-transition;
                        animation-duration: 1s;
                        background-image: url('../images/computer-wallpaper.jpg');
                        background-size: cover;
                        cursor: pointer;
                    }

                    &_unlocked {
                        position: relative;
                        width: 97%;
                        height: 95%;
                        background: rgb(26, 26, 26);
                        opacity: 0;

                        &_main-bar {
                            position: relative;
                            width: 100%;
                            height: 3%;
                            background: $main-bar;
                            z-index: 1;

                            &_off {
                                position: absolute;
                                width: 5px;
                                right: 3;
                                top: 1;
                                z-index: 1;
                                cursor: pointer;
                            
                            }
                        }

                        // Window

                        &_window {
                            width: 100%;
                            height: 97%;
                            background: $screen-window;

                            // nav

                            &_nav {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                height: 4%;
                                padding-left: 2px;
                                box-sizing: border-box;
                                background: $nav;
                                border-radius: 3px 3px 0px 0px;

                                &_close,
                                &_mini,
                                &_resize {
                                    width: 4px;
                                    height: 4px;
                                    background: black;
                                    border-radius: 90px;
                                    margin: 0px 2px 0px 2px;
                                }

                                &_close {
                                    background: #EF6B64;
                                }

                                &_mini {
                                    background: #EAB700;
                                }

                                &_resize {
                                    background: #3ADAA2;
                                }
                            }

                            // inside the website

                            &_site {
                                display: flex;
                                flex-direction: row;
                                height: 96%;
                                width: 100%;

                                &_main {

                                    padding: 3px;
                                    box-sizing: border-box;
                                    width: 70%;
                                    height: 100%;
                                    // background:pink;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;

                                    // main video

                                    &_video {
                                        position: relative;
                                        width: 100%;
                                        height: 100%;
                                        // overflow: hidden;
                                        background: rgb(5, 5, 5);
                                        cursor: pointer;

                                        & video {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            -webkit-object-fit: cover;
                                            -moz-object-fit: cover;
                                        }

                                        // seek bar
                                        &_seek-bar {
                                            position: absolute;
                                            bottom: 8%;
                                            width: 100%;
                                            height: 1px;
                                            background: rgba(255, 255, 255, 0.226);
                                            cursor: pointer;

                                            // seek bar fill

                                            &_fill {
                                                position: absolute;
                                                bottom: 8%;
                                                width: 100%;
                                                height: 1px;
                                                left: 0;
                                                transform: scaleX(0);
                                                transform-origin: 0 0;
                                                will-change: transform;
                                                background: $timebar;
                                                cursor: pointer;
                                                z-index: 1;
                                            }
                                        }

                                        // video commands
                                        &_commands {
                                            bottom: 0;
                                            position: absolute;
                                            width: 100%;
                                            height: 8%;
                                            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.507));

                                            &_play,
                                            &_pause,
                                            &_next,
                                            &_fullscreen,
                                            &_minimize,
                                            &_high-volume,
                                            &_muted-volume {
                                                left: 5;
                                                bottom: 3.5;
                                                position: absolute;
                                                width: 5px;
                                                cursor: pointer;
                                            }

                                            &_next {

                                                left: 15px;
                                                bottom: 4;
                                            }

                                            &_high-volume,
                                            &_muted-volume {
                                                left: 25px;
                                                width: 7px;


                                            }

                                            &_fullscreen,
                                            &_minimize {
                                                left: 96.5%;
                                                width: 6px;
                                            }
                                        }



                                    }

                                    // main video description
                                    &_text {
                                        margin-top: 3px;
                                        width: 100%;
                                        height: 33%;

                                        & h1 {
                                            margin: 0;
                                            padding-top: 7px;
                                            color: $description;
                                            font-family: lato;
                                            font-weight: 700;
                                            font-size: 10px;
                                            letter-spacing: 1px;

                                        }

                                        & p {
                                            margin: 8px 0 8px 0;
                                            color: $description;
                                            font-family: 'Lato', sans-serif;
                                            font-weight: 300;
                                            font-size: 7px;
                                            line-height: 10px;

                                        }

                                        & a {
                                            margin: 20px 0 0 0;
                                            color: $link;
                                            font-family: 'Lato', sans-serif;
                                            font-weight: 400;
                                            font-size: 5px;
                                            line-height: 10px;
                                            text-decoration: none;
                                        }
                                    }
                                }

                                // playlist

                                &_list {
                                    width: 30%;
                                    height: 100%;
                                    padding: 0px 3px 3px 0px;
                                    box-sizing: border-box;
                                    // background: blue;
                                    display: flex;
                                    flex-direction: column;

                                    // align-items: center;
                                    &_video {
                                        width: 100%;
                                        height: 32%;
                                        margin-top: 3px;
                                        background: white;

                                        & video {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &_bot {
                    width: 100%;
                    height: 10%;
                    background: white;
                    border-radius: 0px 0px 10px 10px;
                }

                &_foot1 {
                    width: 20%;
                    height: 3%;
                    background: rgb(207, 206, 205);
                }

                &_foot2 {
                    width: 20%;
                    height: 3%;
                    background: rgb(219, 218, 217);
                }

                &_foot3 {
                    width: 25%;
                    height: 6%;
                    background: white;
                    clip-path: polygon(11% 0, 89% 0, 100% 100%, 0 100%);
                }
            }
        }
    }

    &_part3 {
        // background: rgb(170, 152, 170);
        width: 30%;
        height: 100%;

        //post-it

        &_post {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70%;

            // background: white;
            & img {
                width: 110px;
                height: 110px;
                z-index: 3;
                cursor: pointer;
            }

            & img:hover{
                transition-duration: 0.5s;
                transform : scale(1.03);
            }

            &_idk {
                margin-top: 110px;
                z-index: 3;
            }
        }

        &_bot {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 95%;
            height: 30%;
            &_coffee {
                display: flex;
                justify-content: center;
                position: relative;
                // background: red;
                height: 70%;
                width: 30%;
                &_smoke{
                    width: 30px;
                    animation: smoke 2s infinite;
                }
                &_cup{
                    width: 90px;
                    position: absolute;
                    bottom: 0;
                }
            }

            &_iphone {
                // background: pink;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: center;
                width: 40%;
                height: 100%;

                // background: red;
                &_screen {
                    position: relative;
                    width: 72px;
                    height: 142px;
                    background: white;
                    // border: solid white 4px;
                    border-radius: 9px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;

                    &_inside {
                        width: 66px;
                        height: 136px;
                        background: rgb(26, 26, 26);
                        border-radius: 8px;
                        will-change: background-image;

                        &_unlocked {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 66px;
                            height: 136px;
                            background: rgb(26, 26, 26);
                            border-radius: 7px;
                            cursor: pointer;

                            & h1{
                                text-align: center;
                                margin: 0;
                                color: white;
                                // font-weight: 300;
                                font-family: 'lato';
                                letter-spacing: 1px;
                                font-size: 6px;
                            }
                            & h2{
                                text-align: center;
                                color: white;
                                font-weight: 300;
                                font-family: 'lato';
                                font-size: 3px;
                            }
                            &_album{
                                margin: 5px 0 10px 0;
                                width: 50px;
                                height: 50px;
                                background: white;
                            }
                            &_time{
                                display: flex;
                                align-items: center;
                                align-content: center;
                                justify-content: center;
                                width: 100%;
                                height: 3%;
                                // background: red;
                                & h3{
                                    color: white;
                                    font-family: 'lato';
                                    font-size: 3px;
                                    font-weight: 300;
                                }
                                &_bar{
                                    margin: 0 2px 0 2px;
                                    width: 65%;
                                    height: 1px;
                                    background: black;
                                    border-radius: 1px;
                                    &_fill{
                                        width : 100%;
                                        height : 100%;
                                        background : $timebar;
                                    }
                                }
                            }
                            &_controls{
                                width: 70%;
                                height: 15%;
                                // background: blue;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                & img{
                                    width: 5px;
                                }
                            }
                            &_volume{
                                display: flex;
                                align-items: center;
                                align-content: center;
                                justify-content: center;
                                width: 100%;
                                height: 3%;
                                // background: red;
                                & img{
                                    width: 3px;
                                }
                                &_bar{
                                    margin: 0 1px 0 1px;
                                    width: 80%;
                                    height: 1px;
                                    background: black;
                                    border-radius: 1px;
                                    &_fill{
                                        width : 100%;
                                        height : 100%;
                                        background : $timebar;
                                    }
                                }
                            }
                        }
                    }

                    &_inside:hover {
                        animation-name: wallpaper-transition;
                        animation-duration: 1s;
                        background-image: url('../images/iphone-wallpaper.png');
                        background-size: cover;
                        cursor: pointer;
                    }

                    &_camera {
                        top: 3px;
                        position: absolute;
                        width: 30px;
                        height: 5px;
                        background: white;
                        border-radius: 0px 0px 8px 8px;
                    }
                }

                &_support {
                    width: 90px;
                    height: 8px;
                    background: #EFEFEF;
                    border-radius: 0px 0px 5px 5px;
                }
            }
        }
    }
}

/*
DESK
*/
.desk {
    --width_table: 100%;
    --height_table: 18%;
    --height_table-bot: 64%;
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;

    // table, support
    &_table {
        background: $desk;
        width: var(--width_table);
        height: var(--height_table);
    }

    &_under-table {
        position: relative;
        background: $desk;
        width: calc(var(--width_table) - 10%);
        height: var(--height_table);

        &_shadow {
            position: absolute;
            background: $desk-shadow;
            width: 100%;
            height: 4px;
        }
    }

    &_bot {
        width: calc(var(--width_table) - 13%);
        height: var(--height_table-bot);
        display: flex;
        justify-content: space-between;

        &_drawer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: $desk;
            width: 250px;
            height: 100%;

            &_shadow {
                position: absolute;
                top: 0;
                background: $desk-shadow;
                width: 100%;
                height: 4px;
            }

            &_handle {
                background: $handle;
                width: 12px;
                height: 12px;
                border-radius: 90px;
            }
        }

        &_foot {
            position: relative;
            background: $desk;
            width: 40px;
            height: 100%;

            &_shadow {
                position: absolute;
                background: $desk-shadow;
                width: 100%;
                height: 4px;
            }
        }
    }
}

//animations 

@keyframes wallpaper-transition {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes smoke {
    0%{transform: translateY(0px); opacity: 1;}
    50%{ opacity: .5;}
    100%{transform: translateY(-10px); opacity: 0;}
  }

@keyframes scale {
    0% {
        transform: scale(1) translateX(0%) translateY(0%);
    }

    100% {
        transform: scale(2.3) translateX(-4.5%) translateY(-8%);
    }
}